
body {

}

header {
    font: 15pt Arial;
    line-height: 20pt;
    padding-left: 30%;
}

a {
    font-family: Verdana, sans-serif;
    font-weight:
    text-decoration: none;
}

a:link {
    color: rgb(44,44,44);
}
a:visited { color: rgb(0,255,255);
	    font-family:"Comic Sans MS";
	  }
a:hover { color: rgb(14,244,34);}
